{
  "openapi": "3.1.0",
  "info": {
    "title": "Codag Agent Cost API",
    "version": "0.2.0",
    "description": "Action-aware reduction, contentless accounting, savings, pricing, policy, and service status. Transient action content is never retained."
  },
  "servers": [{"url": "https://api.codag.ai"}],
  "security": [{"bearerAuth": []}],
  "paths": {
    "/health": {
      "get": {
        "operationId": "health",
        "security": [],
        "responses": {"200": {"description": "Liveness", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}}
      }
    },
    "/v1/actions/reduce": {
      "post": {
        "operationId": "reduceAction",
        "description": "Transiently reduce one eligible coding-agent tool result. The original is never returned or retained.",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ActionEnvelope"}}}},
        "responses": {
          "200": {"description": "Reduction or conservative passthrough decision", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ActionResponse"}}}},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "402": {"$ref": "#/components/responses/BillingRequired"},
          "413": {"description": "Action envelope exceeds the request limit; local clients fail open to the original result"},
          "429": {"$ref": "#/components/responses/TooManyRequests"}
        }
      }
    },
    "/v1/metrics/batch": {
      "post": {
        "operationId": "recordMetrics",
        "description": "Record deduplicated contentless product-accounting events.",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MetricsBatch"}}}},
        "responses": {"200": {"description": "Accepted event count", "content": {"application/json": {"schema": {"type": "object", "required": ["accepted"], "properties": {"accepted": {"type": "integer", "minimum": 0}}, "additionalProperties": false}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}, "429": {"$ref": "#/components/responses/TooManyRequests"}}
      }
    },
    "/v1/usage/summary": {
      "get": {"operationId": "usageSummary", "responses": {"200": {"description": "Current billing-period savings summary", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsageSummary"}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}}}
    },
    "/v1/usage/timeseries": {
      "get": {
        "operationId": "usageTimeseries",
        "parameters": [{"$ref": "#/components/parameters/Days"}],
        "responses": {"200": {"description": "Contentless usage and reliability time series", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}}
      }
    },
    "/v1/usage/breakdown": {
      "get": {
        "operationId": "usageBreakdown",
        "parameters": [
          {"$ref": "#/components/parameters/Days"},
          {"name": "dimension", "in": "query", "schema": {"type": "string", "enum": ["action", "provider", "model", "harness", "member"], "default": "action"}}
        ],
        "responses": {"200": {"description": "Attributed contentless aggregates", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}}
      }
    },
    "/v1/usage/reliability": {
      "get": {
        "operationId": "usageReliability",
        "parameters": [{"$ref": "#/components/parameters/Days"}],
        "responses": {"200": {"description": "Reduction and fail-open reliability", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}}
      }
    },
    "/v1/trials/report": {
      "get": {"operationId": "trialReport", "responses": {"200": {"description": "Trial savings report and explicit upgrade choices", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}}}
    },
    "/v1/model-prices": {
      "get": {"operationId": "modelPrices", "responses": {"200": {"description": "Attributed public model-price catalog", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ModelPriceCatalog"}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}}}
    },
    "/v1/workspace/policy": {
      "get": {"operationId": "getWorkspacePolicy", "responses": {"200": {"description": "Effective workspace policy", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkspacePolicy"}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}}},
      "put": {
        "operationId": "setWorkspacePolicy",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkspacePolicy"}}}},
        "responses": {"200": {"description": "Effective workspace policy", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkspacePolicy"}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"description": "Plan does not permit requested policy"}}
      }
    },
    "/v1/service/status": {
      "get": {"operationId": "serviceStatus", "responses": {"200": {"description": "Reducer and optimization release status", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "401": {"$ref": "#/components/responses/Unauthorized"}}}
    }
  },
  "components": {
    "securitySchemes": {"bearerAuth": {"type": "http", "scheme": "bearer"}},
    "parameters": {
      "Days": {"name": "days", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 90, "default": 30}}
    },
    "responses": {
      "Unauthorized": {"description": "Missing or invalid workspace credential"},
      "BillingRequired": {"description": "Hard cap reached or billing action required; local clients fail open to the original result"},
      "TooManyRequests": {"description": "Per-credential or per-IP rate limit exceeded; retry according to Retry-After"}
    },
    "schemas": {
      "ActionKind": {"type": "string", "enum": ["unknown", "log", "test_build_lint", "search", "file_list", "document_read", "agent_handoff", "query", "verbatim"]},
      "ToolCall": {
        "type": "object",
        "required": ["name"],
        "properties": {"id": {"type": "string", "maxLength": 256}, "name": {"type": "string", "minLength": 1, "maxLength": 512}, "arguments": {}},
        "additionalProperties": false
      },
      "ActionEnvelope": {
        "type": "object",
        "required": ["id", "kind", "tool", "result"],
        "properties": {
          "id": {"type": "string", "minLength": 1, "maxLength": 256}, "session_id": {"type": "string", "maxLength": 256}, "harness": {"type": "string", "maxLength": 128},
          "provider": {"type": "string", "maxLength": 128}, "model": {"type": "string", "maxLength": 256}, "kind": {"$ref": "#/components/schemas/ActionKind"},
          "tool": {"$ref": "#/components/schemas/ToolCall"}, "result": {"type": "string", "maxLength": 33554432}, "task": {"type": "string", "maxLength": 32768},
          "intent": {"type": "string", "maxLength": 8192}, "retrieval_handle": {"type": "string", "maxLength": 256}, "client_version": {"type": "string", "maxLength": 128}
        },
        "additionalProperties": false
      },
      "Selector": {
        "type": "object",
        "required": ["id", "type"],
        "properties": {
          "id": {"type": "string", "minLength": 1, "maxLength": 128, "pattern": "^[A-Za-z0-9_.:-]+$"}, "label": {"type": "string", "maxLength": 512}, "type": {"type": "string", "enum": ["lines", "json_path", "group"]},
          "start": {"type": "integer", "minimum": 0}, "end": {"type": "integer", "minimum": 0}, "json_path": {"type": "string", "maxLength": 1024}, "group": {"type": "string", "maxLength": 256, "pattern": "^[A-Za-z0-9_.:/+~-]*$"}
        },
        "additionalProperties": false
      },
      "ActionUsage": {
        "type": "object",
        "required": ["bytes_in", "bytes_out"],
        "properties": {
          "bytes_in": {"type": "integer", "minimum": 0}, "bytes_out": {"type": "integer", "minimum": 0},
          "reducer_input_tokens": {"type": "integer", "minimum": 0}, "reducer_output_tokens": {"type": "integer", "minimum": 0},
          "reducer_cost_microusd": {"type": "integer", "minimum": 0}, "elapsed_ms": {"type": "integer", "minimum": 0}
        },
        "additionalProperties": false
      },
      "ActionResponse": {
        "type": "object",
        "required": ["action_id", "kind", "decision", "selectors", "usage"],
        "properties": {
          "action_id": {"type": "string"}, "kind": {"$ref": "#/components/schemas/ActionKind"},
          "decision": {"type": "string", "enum": ["passthrough", "reduced"]}, "content": {"type": "string"}, "reason": {"type": "string"},
          "selectors": {"type": "array", "maxItems": 64, "items": {"$ref": "#/components/schemas/Selector"}}, "usage": {"$ref": "#/components/schemas/ActionUsage"}
        },
        "additionalProperties": false
      },
      "MetricEvent": {
        "type": "object",
        "description": "Contentless event: prompt, command, path, filename, task, arguments, and result fields are forbidden.",
        "required": ["id", "occurred_at", "action_kind", "decision"],
        "properties": {
          "id": {"type": "string", "minLength": 1, "maxLength": 128, "pattern": "^[A-Za-z0-9_.:@+~-]*$"}, "occurred_at": {"type": "string", "format": "date-time"}, "session_id": {"type": "string", "maxLength": 256, "pattern": "^[A-Za-z0-9_.:@+~-]*$"},
          "install_id": {"type": "string", "maxLength": 256, "pattern": "^[A-Za-z0-9_.:@+~-]*$"}, "harness": {"type": "string", "maxLength": 128, "pattern": "^[A-Za-z0-9_.:+-]*$"}, "provider": {"type": "string", "maxLength": 128, "pattern": "^[A-Za-z0-9_.:+-]*$"}, "model": {"type": "string", "maxLength": 256, "pattern": "^[A-Za-z0-9_.:+-]*$"},
          "action_kind": {"$ref": "#/components/schemas/ActionKind"}, "decision": {"type": "string", "minLength": 1, "maxLength": 64, "pattern": "^[A-Za-z0-9_.:+-]*$"}, "reason": {"type": "string", "maxLength": 256, "pattern": "^[A-Za-z0-9_.:+-]*$"},
          "original_bytes": {"type": "integer", "minimum": 0}, "replacement_bytes": {"type": "integer", "minimum": 0},
          "provider_input_tokens": {"type": "integer", "minimum": 0}, "provider_output_tokens": {"type": "integer", "minimum": 0},
          "provider_cache_read_tokens": {"type": "integer", "minimum": 0}, "provider_cache_write_tokens": {"type": "integer", "minimum": 0},
          "estimated_cost_microusd": {"type": "integer", "minimum": 0}, "reducer_cost_microusd": {"type": "integer", "minimum": 0},
          "elapsed_ms": {"type": "integer", "minimum": 0}, "turn_count": {"type": "integer", "minimum": 0},
          "retry_count": {"type": "integer", "minimum": 0}, "reread_count": {"type": "integer", "minimum": 0},
          "retrieval_count": {"type": "integer", "minimum": 0}, "client_version": {"type": "string", "maxLength": 128, "pattern": "^[A-Za-z0-9_.:+-]*$"}
        },
        "additionalProperties": false
      },
      "MetricsBatch": {
        "type": "object", "required": ["events"],
        "properties": {"events": {"type": "array", "minItems": 1, "maxItems": 1000, "items": {"$ref": "#/components/schemas/MetricEvent"}}},
        "additionalProperties": false
      },
      "ActionUse": {
        "type": "object", "required": ["actions", "bytes_in", "bytes_out", "avoided_tokens", "estimated_saved_microusd"],
        "properties": {
          "actions": {"type": "integer"}, "bytes_in": {"type": "integer"}, "bytes_out": {"type": "integer"},
          "avoided_tokens": {"type": "integer"}, "estimated_saved_microusd": {"type": "integer"}
        },
        "additionalProperties": false
      },
      "UsageSummary": {
        "type": "object",
        "required": ["period_start", "period_end", "plan_tier", "bytes_used", "bytes_included", "observed_tokens", "avoided_tokens", "estimated_provider_spend_microusd", "estimated_saved_microusd", "by_action", "equivalent_savings_microusd"],
        "properties": {
          "period_start": {"type": "string", "format": "date-time"}, "period_end": {"type": "string", "format": "date-time"},
          "plan_tier": {"type": "string", "enum": ["free", "pro", "team", "enterprise"]}, "bytes_used": {"type": "integer"},
          "bytes_included": {"type": "integer"}, "observed_tokens": {"type": "integer"}, "avoided_tokens": {"type": "integer"},
          "estimated_provider_spend_microusd": {"type": "integer"}, "estimated_saved_microusd": {"type": "integer"},
          "by_action": {"type": "object", "additionalProperties": {"$ref": "#/components/schemas/ActionUse"}},
          "equivalent_savings_microusd": {"type": "object", "additionalProperties": {"type": "integer"}}
        },
        "additionalProperties": false
      },
      "ModelPrice": {
        "type": "object",
        "required": ["provider", "model_pattern", "input_usd_per_mtok", "cached_input_usd_per_mtok", "cache_write_usd_per_mtok", "output_usd_per_mtok", "as_of"],
        "properties": {
          "provider": {"type": "string"}, "model_pattern": {"type": "string"},
          "input_usd_per_mtok": {"type": "number", "minimum": 0}, "cached_input_usd_per_mtok": {"type": "number", "minimum": 0},
          "cache_write_usd_per_mtok": {"type": "number", "minimum": 0}, "output_usd_per_mtok": {"type": "number", "minimum": 0},
          "as_of": {"type": "string"}, "source_url": {"type": "string", "format": "uri"},
          "cache_write_basis": {"type": "string"}, "price_valid_through": {"type": "string", "format": "date"}
        },
        "additionalProperties": false
      },
      "ModelPriceCatalog": {
        "type": "object", "required": ["currency", "unit", "models"],
        "properties": {
          "currency": {"type": "string", "const": "USD"},
          "unit": {"type": "string", "const": "per_million_tokens"},
          "models": {"type": "array", "items": {"$ref": "#/components/schemas/ModelPrice"}}
        },
        "additionalProperties": false
      },
      "WorkspacePolicy": {
        "type": "object",
        "required": ["mode", "enabled_actions", "required_metrics"],
        "properties": {
          "mode": {"type": "string", "enum": ["disabled", "audit", "optimize"]},
          "enabled_actions": {"type": "array", "maxItems": 16, "items": {"$ref": "#/components/schemas/ActionKind"}},
          "required_metrics": {"type": "boolean", "const": true}, "pinned_client_version": {"type": "string", "maxLength": 128}
        },
        "additionalProperties": false
      }
    }
  }
}
